//主题颜色
@themeColor: #FF724F;
@themeColor1: #FCF1EE;

//背景颜色
@background: #F0F4F8;
@white: #ffffff;
@color-background-dropdown:#FFF0ED; // dropdown
@btn-default-background: #E8EEF3;

//hover
@color--background-dropdown-hover:rgba(255, 138, 108, 0.2); // dropdown
@color--background-tr-hover:#f9fbfd;

// boder
@background1: #EFF4F9; 
@background2: #FFF0ED;
@color-border-bottom:hsla(210, 45%, 96%, 1); // 弹窗header的下边框
@color-border-dropdown:#fff1ed; // dropdown

//字体颜色
@fontColor: #AAB1B9;
@color-text:#2B3D4F;
@color-breadcrumb:#aab1b9;
@color-icon-hover:#2B3D4F;
@color-icon-normal:#AAB1B9;
@color-dropdown-disable:#DBE0E6;

//其他颜色
@white: #ffffff;
@rightColor: #3EC87D; // 密码策略正确
@color1: rgba(43, 61, 79, 0.86); //tooltip
@color2: #4c5867; // tooltip
@color3: #f3f7fb; // table header right border 
@color4: #D8D8D8; // siderbar 箭头颜色

// padding 
@padding-block:24px;
@padding-header-title:20px;
@padding-button-top-bottom: 10px;
@padding-button-left-right: 16px;

// default button
@default-button-background-hover:#F8F9FA;
@default-button-background-active:#EDEFF2;
@default-button-border:#DBE0E6;

// primary button
@primary-button-background-hover:#F26C4B;
@primary-button-background-active:#E66647;

// primary plain button
@primary-plain-button-background-hover:#FFF0ED;
@primary-plain-button-background-active:#FFE3DC;
