.inputWrap{

  .el-input__inner{

    height: 34px;
    line-height: 34px;
    border-radius: 6px;
    border-color: rgba(16, 23, 41, 0.2);
  }
  .el-input__inner:hover{
    border-color: #7A5CF2;
  }
  .el-input__inner:focus{
    background: rgba(122, 92, 242, 0.05);;
    border: 1px solid #6a5dfc;
    box-shadow: 0px 0px 4px #7a5cf2;
  }



}

